################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mvcASPNET
/.vs/cs379WebSite/v14
/.vs/config
