<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add
      name="SmarterASP"
      connectionString="Driver={MySQL ODBC 5.1 Driver};Server=MYSQL5017.Smarterasp.net;Database=db_9fa50d_valek;Uid=9fa50d_valek;Password=esm001fh;" />
  </connectionStrings>
</configuration>