body {
    background-color: #696969;
    background-image: url(backgroundImage.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
  
}

.summary {
    border: 2px white solid;
    width: 50%;
    margin: 10px;
    display: inline-block;
}

.titles {
    color: white;
    font-family: sans-serif;
    margin: 20px;
    font-size: 18px;
}

.dets {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 20px;
}

.error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
}

.topMenu {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#00bfff;
    color: white;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
}

.topMenu:hover {
    background:#696969;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.Heading {
    color: #f5fffa;
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
    padding-left: 5px;
}

#content {

    background-color: #444444;
    padding: 30px;
     margin: auto;
    width: auto;
    max-width: 1150px;
    min-width: 685px;
   
}

#TopMenu {
    padding-left: 25px;
    padding-top: 25px;
}

.imageSizing {
    width: 150px;
    height: 200px;
    padding: 15px;
}

.ratings {
    color: gold;
    font-family: sans-serif;
}

.contentArea {
    background-color: #222222;
    padding: 10px;
}

li {
    display: inline;
}

.panel {
    border: 2px #1e90ff;
    border-style: solid;
    width: 195px;
    height: 300px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    margin: 10px;
}

.labels {
    color: white;
    font-family: sans-serif;
    padding: 20px;
    font-size: 80%;
}

.removeButton {
    border: 2px solid white;
    padding: 10px;
    background: #00bfff;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 10px;
}

.details {
    color: white;
    font-family: sans-serif;
    height: auto;
}

.MovieHeading {
    color: #f5fffa;
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
}

.panel:hover {
    background:#1e90ff;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.6);
}


.left_part {
    display: inline-block;
    width: 31%;
}
.right_part {
    display: inline-block;
    width: 67%;
    height: 100%;
    float: right;
    text-align: center;
}

.table {
    width: 80%;
    background-color: #33333;
    border-collapse: collapse;
}

.cell {
    color: #f5fffa;
    border: 2px solid #00bfff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    text-align: center;
}

.headCell {
    font-weight: bold;
    border: 2px solid #00bfff;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: large;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listmenu {
    margin: 0;
}

.pageButtons {
    color:#444;
    border:1px solid #CCC;
    background:#ff8c00;
    color: white;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
}